*{
    margin: 0;
    box-sizing: border-box;
}
h1{
    width: 250;
    height: 120;
    border: 2px solid greenyellow;
    background-color: yellow;
    padding: 0;
}
table,th,td{
    border: solid 1px rgb(0, 0, 0);
    border-collapse: collapse;

}
table.t1{
    width: auto ;
    height: auto;
    font: bold 1rem sans-serif;
    border: thick double rgb(0, 0, 0);

}